@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #111827;
  --card: #ffffff;
  --card-foreground: #111827;
  --border: #e5e7eb;
  --input: #e5e7eb;
  --muted: #f3f4f6;
  --muted-foreground: #6b7280;
  --sidebar-width: 256px;
  --sidebar-width-collapsed: 80px;
}

.dark {
  --background: #232323;
  --foreground: #ededed;
  --card: #2D2D2D;
  --card-foreground: #ededed;
  --border: #3E3E3E;
  --input: #3E3E3E;
  --muted: #3E3E3E;
  --muted-foreground: #9ca3af;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-primary-50:  #f3f8eb;
  --color-primary-100: #e4f0d0;
  --color-primary-200: #cae3a5;
  --color-primary-300: #aad172;
  --color-primary-400: #8dbc47;
  --color-primary-500: #689633;
  --color-primary-600: #527828;
  --color-primary-700: #3f5c1f;
  --color-primary-800: #2e4217;
  --color-primary-900: #1e2c0e;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
